:root {
    --primary-color:#A27035;
    --secondary-color: red;
    --third-color: #242331;
    --headers-color: #B88B4A; 
    --golden-brown: #A27035;
    --flax: #DDCA7D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--third-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: fit-content;
    width: 100%;
    padding: 20px 3px;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--flax);
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.002);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}

header nav ul li a {
    color: var(--headers-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.25vw;
    text-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

header nav ul li a:hover {
    color: var(--flax);
    transition: color 0.25s ease;
}

h1 {
    color: var(--secondary-color);
}

footer {
    height:fit-content;
    width: 100%;
    color: var(--headers-color);
    font-size: 30 px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--third-color);
}

footer h2 {
    color: var(--flax);
    font-size: 30px;
    margin: 0;
    padding: 13px;
    border-right: 5px solid;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    line-height: 1.5;
    text-align: right;
    list-style: none;
}

footer ul li, footer ul li a {
    padding: 12px;
    font-weight: lighter;
    font-size: 2.25vw;
    text-shadow: 0 0 10px rgb(0 0 0 / 10%);
    text-decoration: none;
    color:var(--headers);
}

footer ul li:hover {
    color:var(--flax);
    text-decoration:underline;
    transition: color .25s ease;
}

footer ul li a:hover {
    color:var(--flax);
    text-decoration:underline;
    transition: color .25s ease;
}

.coffee-notes {
    background-image: url("../images/Yosemite-Sam.jpg");
    background-size: cover;
    height: 300px;
    background-position:10%;
    margin-bottom: 0px;
    align-items: flex-start;
    background-attachment: fixed;
}

/* About me */
.article {
    height: 800px;
    width: 100%;
    display: flex;
    background-color: var(--third-color);
}


.section-title {
    font-size: 48px;
    color: var(--flax);
    border-bottom: 4px solid var(--flax);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
}

.about-me {
    height: 500px;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-me img {
    height: 400px;
    width: auto;
    border-radius: 5px
}

.about-me p {
    font-size: 17px;
    height: 200px;
    width: 60%;
    padding: 50px;
    top: 150px;
    left: 90px;
    text-align: center;
    z-index: 999;
    background-color: #d3d3d3;
    border-radius: 5px;
}

/* Projects */

.work {
    height: 1000px;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    flex: wrap;
    justify-content: space-around;
}

.work h2 {
    height: 100px;
    width: 200px;
    color: var(--flax);
    font-size: 40px;
    border-bottom:6px solid var(--flax);
    align-items: center;
}

.projects {
    height: 100px;
    width: 100%;
    display: flex;
    flex: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.Run-Buddy img {
    height: 500px;
    width: 700px;
    position: relative;
    top: 25px;
    left: 110px;
    border: 5px black solid;
    border-radius: 15px;
}

.project-2 img, .project-3 img, .project-4 img{
    height: 250px;
    width: 450px;
    position: relative;
    top: 25px;
    left: 110px;
    border: 5px black solid;
    border-radius: 15px;
}

.Run-Buddy img:hover,.project-2 img:hover, .project-3 img:hover, .project-4 img:hover {
    opacity: 0.9;
    transition: opacity .25 ease;
}

/* Media Query for iphone x */
@media screen and (max-width: 375px) {

    /* need to stack header and footer in columns and more */
}