:root {
    --background-color: #242331;
    --header-color: #DDCA7D;
    --secondary-header-color: #B88B4A; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    height: fit-content;
    width: 100%;
    padding: 20px 3px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    color: var(--header-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.002);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}

header nav ul li a {
    color: var(--secondary-header-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.25vw;
    text-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

header nav ul li a:hover {
    color: var(--header-color);
    transition: color 0.25s ease;
}

h1 {
    color: var(--secondary-color);
}
/* End Header */

/* Footer */
footer {
    height:fit-content;
    width: 100%;
    padding: 50px 0 50px 0;
    color: var(--secondary-header-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--background-color);
}

footer h2 {
    color: var(--header-color);
    font-size: 50px;
    margin: 0;
    padding: 13px;
    border-bottom: 4px solid;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    line-height: 1.5;
    text-align: right;
    list-style: none;
}

footer ul li, footer ul li a {
    padding: 12px;
    font-weight: lighter;
    font-size: 32px;
    text-shadow: 0 0 10px rgb(0 0 0 / 10%);
    text-decoration: none;
    color:var(--headers);
}

footer ul li:hover {
    color:var(--header-color);
    text-decoration:underline;
    transition: color .25s ease;
}

footer ul li a:hover {
    color:var(--header-color);
    text-decoration:underline;
    transition: color .25s ease;
}
/* End footer */

/* hero */
.yosemite-hero {
    background-image: url("../images/Yosemite-Sam.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-position:10%;
    margin-bottom: 0px;
    align-items: flex-start;
    background-attachment: fixed;
    z-index: 999;
    
}

/* About me */
.section-title {
    font-size: 30px;
    color: var(--header-color);
    border-bottom: 4px solid var(--header-color);
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--background-color);
    padding-top: 20px;
}

.about-me {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.about-me img {
    height: 400px;
    margin: 30px 20px 30px 20px;
    border-radius: 5px;
    display: flex;
}

.about-me p {
    font-size: 17px;
    width: 60%;
    padding: 50px;
    top: 150px;
    left: 90px;
    text-align: center;
    z-index: 999;
    background-color: #d3d3d3;
    border-radius: 5px;
    margin-bottom: 40px;
}

/* Projects */
main div h2 {
    font-size: 45px;
    color: var(--header-color);
    border-bottom: 4px solid var(--header-color);
    background-color: var(--background-color);
    text-align: center;
    padding: 20px 0 10px 0;
}

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-color);
}

.Run-Buddy {
    width: 100%;
    margin: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.Run-Buddy h3, .project-small h3 {
    padding: 8px;
    font-size: 30px;
    color: var(--secondary-header-color);
}

.Run-Buddy a, .project-small a {
    text-decoration: none;
}

.Run-Buddy img {
    height: 500px;
    width: 750px;
    margin: 22px;
    border: 5px black solid;
    border-radius: 15px;
    padding: 5px;
}

.project-small {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
}

.project-small img {
    height: 300px;
    width: 500px;
    border: 5px black solid;
    border-radius: 15px;
}

.Run-Buddy img:hover,.project-small img:hover {
    opacity: 0.9;
    transition: opacity .25 ease;
}



/* media query for footer */
@media screen and (max-width:1040px) {
    
    footer h2 {
        padding-top: 0;
        margin-bottom: 10px;
        font-size: 45px;
        width: 100%;
        display: flex;
        justify-content: center;

    }
    footer ul li, footer ul li a{
        display: flex;
        justify-content: center;
        font-size: 32px;
        flex-direction: column;
        /* align-items: center; */
    }
}
/* Media query to resize project images */
@media screen and (max-width:850px) {

    .Run-Buddy {
        padding-bottom: 40px;
    }
    
    .Run-Buddy img {
        height: 100%;
        width: 90%;
    }
    
    .project-small img{
        height: 90%;
        width: 70%;
    }
    
}
/* media query to adjust header posistion */
@media screen and (max-width:575px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul li a {
        flex-direction: column;
        font-size: 20px;
    }


}

/* media query to adjust self portrait in about me */
@media screen and (max-width:375px) {

    header h1 {
        font-size: 12vw;
    }

    header nav ul li a {
        font-size: 7vw;
    }

    .section-title {
        font-size: 10vw;
    }

    .about-me p {
        padding: 8px 8px 8px 8px;
    }

    .about-me img {
        height: 100%;
        width: 73%;
    }

    .main div h2 {
        font-size: 10vw;
    }

    .Run-Buddy {
        /* margin-bottom: 60px; */
    }

    .Run-Buddy h3 {
        font-size: 7vw;
    }

    .project-small {
        padding: 20px 0 20px 0;
        margin: 20px 0 20px 0;
    }

    .project-small h3 {
        font-size: 7vw;
    }

    footer h2 {
        padding-top: 0;
        margin-bottom: 10px;
        font-size: 11vw;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    footer ul li, footer ul li a{
        display: flex;
        justify-content: center;
        font-size: 7vw;
    }
}